/* body {
  font-family: roboto, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
} */

.startScreen {
  background-image: url(https://c4.wallpaperflare.com/wallpaper/914/949/198/green-paper-background-dark-wallpaper-preview.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(219, 109, 90);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
}
.startScreenText {
  margin-bottom: 250px;
}
.startScreenBtn {
  padding-bottom: 50px;
}

.screenBtn {
  background-color: #4593e7;
  margin: 10px;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 12px;
  border: none;
  box-shadow: 0 4px 8px rgba(17, 16, 16, 0.2);
  transition: background-color 0.3s ease, color 0.3s ease;
  color: #fff;
  cursor: pointer !important;

  opacity: 0;
  animation: showButtons 0.5s ease forwards;
  animation-delay: 2.2s;
}

@keyframes showButtons {
  to {
    opacity: 1;
  }
}

.screenBtn:hover {
  background-color: #0056b3;
  color: white;
}

.typewriter {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid white;
  width: 0;
  animation: typing 2s steps(30, end) forwards, blink 0.7s step-end infinite;
  font-size: 50px;
  margin-bottom: 20px;
  color: #140322;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

h1 {
  text-align: center;
  color: #333;
}

.game-text {
  background-color: skyblue;
  color: rgb(37, 87, 162);
  width: 100%;
  height: 50px;
  text-align: center;
}
.game-text p {
  padding-top: 12px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 50px 0 50px 0;
}

.card {
  width: 300px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.card img {
  width: 100%;
  height: 250px;
  border-radius: 5px;
}

.me {
  margin-top: 30px;
  color: rgb(28, 10, 225);
  font-weight: bold;
  font-size: 30px;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.win {
  font-weight: bold;
  font-size: 24px;
  color: rgb(190, 117, 23);
}

.vs-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vs-area .vs {
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 10px;
}

.vs-area button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  margin-bottom: 10px;
}

.vs-area button:hover {
  background-color: #0056b3;
}

.resetBtn1 {
  background-color: rgb(168, 40, 40) !important;
}
.resetBtn1:hover {
  background-color: rgb(224, 60, 60) !important;
}
.point {
  font-size: 24px;
  color: #333;
}
